autopep8
#bokeh
bs4
#dataframe-image
#dask
#folium
#gdown
#geopandas
geopy
#graphviz
#git+https://github.com/CxAalto/gtfspy
#ipyleaflet
ipynb
isort
jupyter-dash
jupyterlab-dash
#kaleido
#mlinsights
#mrjob
#nltk
pandarallel
#partridge[full]
plotly
pmdarima
#psutil
psycopg2-binary
#pyquickhelper
#pyspark
#pyunpack
pyvis
#scikit-fuzzy
#seaborn
#SimpSOM
scikit-learn
sqlalchemy
statsmodels
#sympy
tensorflow
yapf
xgboost
